<a href="https://colab.research.google.com/github/eoreordl/py03/blob/master/notebook/ch2_exercises_py03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch2_exercises_py03.ipynb

## Q1.
> 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

- 과목	점수
- 국어	80
- 영어	75
- 수학	55

In [1]:
# [Q1] Code
a = 80    # 국어점수
b = 75    # 영어점수
c = 55    # 수학점수
total = (a + b + c) / 3
total

70.0

## Q2.
> 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

1. 판별 기준
2. 코드

In [3]:
# [Q2] Code
# 1. 판별 기준 : 2로 나누어 0으로 나누어 떨어지면 짝수 나머지가 생기면 홀수이다.
1 % 2     #1
2 % 2     #0
3 % 2     #1
4 % 2     #0
13 % 2    #1
# 결론 : 13은  홀수이다.

1

## Q3.
> 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

- 문자열 슬라이싱 기법을 사용해 보자.

In [6]:
# [Q3] Code
a = "881120-1068234"
YYYYMMDD = a[:6]
b = a[7:]
print(YYYYMMDD)
print(b)

881120
1068234

## Q4.
> 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

- pin = "881120-1068234"
- ※ 문자열 인덱싱 또는 내장함수를 사용해 보자.
- 문자열포맷팅을 이용해서 성별을 출력하시오.

In [7]:
# [Q4] Code
a = "881120-1068234"
print(a[7]) 
# 1이나 3이 나오면 남자, 2나 4가 나오면 여자

1

## Q5.
> 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

- a = "a:b:c:d"

In [9]:
# [Q5] Code
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

## Q6.
> [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

- ※ 리스트의 내장 함수를 사용해 보자.

In [10]:
# [Q6] Code
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

## Q7.
> ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

- ※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.

In [11]:
# [Q7] Code
a = ['Life', 'is', 'too', 'short']
b = " ".join(a)
print(b)

Life is too short

## Q8.
> (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

- ※ 더하기(+) 또는 다른 방법들을 사용해 보자.

In [0]:
# [Q8] Code
# 튜플에 +로 추가하는 방법
a = (1, 2, 3)
a = a + (4,)
print(a)

In [12]:
# 리스트로 변경하여 덧붙이는 방법
a = (1,2,3)
b = list((a))
b.append(4)
a = tuple((b))
print(a)

(1, 2, 3, 4)

## Q9.
> 다음과 같은 딕셔너리 a가 있다.

>> a = dict()  
>> a  
{}

- 다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

1. a['name'] = 'python'
2. a[('a',)] = 'python'
3. a[[1]] = 'python'
4. a[250] = 'python'

In [0]:
# [Q9] Code & explanation
a[[1]] = 'python'   #TypeError: unhashable type: 'list'
# 이유 : 1번 2번 4번은 각각  문자열, 튜플 숫자는 변하지 않는 값이라 Dictionary의 키로 사용이 가능했지만 3번은 리스트를 사용했으므로 변하는 값을 사용해서 Dictionary의 키로 사용이 불가하다

## Q10.
> 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
>> a = {'A':90, 'B':80, 'C':70}

- ※ 딕셔너리의 pop 함수를 사용해 보자.

In [1]:
# [Q10] Code
a = {'A':90, 'B':80, 'C':70}
b = a.pop('B')
print(a)
print(b)

{'A': 90, 'C': 70}
80

## Q11.
> a 리스트에서 중복 숫자를 제거해 보자.
>> a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

- ※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.

In [5]:
# [Q11] Code
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
b = set(a)
c = list(b)   #집합 자료형인 b를 리스트 자료형으로 변환시킴
print(c)

{1, 2, 3, 4, 5}

## Q12.
> 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

>> a = b = [1, 2, 3]  
>> a[1] = 4  
>> print(b)

In [10]:
# [Q12] Code & explanation
a = b = [1, 2, 3]
a[1] = 4
print(b)    # [1, 4, 3]출력
# 이유 : 2번 줄에서 a에 속해있는 인덱스인 2가 4로 변경되었다 여기서 이미 1번줄에 a = b가 명시되어 있으므로 b도 마찬가지로 2가 4로 변경되어 [1, 4, 3]이라는 값을 가지게 된다

[1, 4, 3]

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. pynn repo에 연습결과 노트를 올리시오.
        - 제출노트: ch2_exercises_id.ipynb