<a href="https://colab.research.google.com/github/eoreordl/py03/blob/master/notebook/ch3_exercises_py03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch3_exercises_py03.ipynb

## Q1.
> 다음 코드의 결괏값은 무엇일까?

```
a = "Life is too short, you need python"
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

```

In [0]:
# [Q1] Code  
A1 : shirt
이유 : 참 거짓을 따져야하는 코드입니다.
1 - a 문자열에 "wife"가 존재하지 않기 때문에 거짓
2 - a 문자열에 "python"가 존재하지만 "you"도 존재하기 때문에 거짓
3 - a 문자열에 "shirt"가 존재하기 때문에 참
4 - a 문자열에 "need"가 존재하기 때문에 참
따라서 가장 먼저 참이 된 값이 "shirt"이므로 결과값은 "shirt"이다.

## Q2.
> while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [0]:
# [Q2] Code
total = 0
a = 1
while a <= 1000:
  if a % 3 ==0:
    total = total + a
  a = a + 1
print(total)

166833

## Q3.
> while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

```
*
**
***
****
*****

```

In [0]:
# [Q3] Code-1
a = 0
while True:
  a = a + 1
  if a > 5 :
    break
  print('*' * a)

*
**
***
****
*****

In [0]:
# [Q3] Code-2
i = 1
while i <= 5:
    print('*' * i)
    i += 1

*
**
***
****
*****

## Q4.
> for문을 사용해 1부터 100까지의 숫자를 출력해 보자.
- 단순 for문 사용
- 리스트 내포 사용

In [0]:
# [Q4] Code-1
#단순 for문 사용
i = 1
while i <= 100:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [0]:
# [Q4] Code-2
#리스트 내포 사용
result = [x for x in range(1,101)]
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

## Q5.
> A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

- [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

- for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [2]:
# [Q5] Code
a = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for score in a:
    total += score
ave = (total/len(a))
print("A학급의 평균 점수: ",ave,"")

A학급의 평균 점수:  79.0

In [5]:
scores = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
def average(scores):
    return (sum(scores) / len(scores))
print(average(scores))

79.0

## Q6.
> 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.
```
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
```

- 위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

In [11]:
# [Q6] Code
num = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = []
for A in num:
    if A % 2 == 1:
        result.append(A*2)
print(result)

[2, 6, 10, 14, 18]

## Q7.
> ## [Challenge] 응용 코드 : 평균 성적을 구하시오.
```
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
```

- 평균 성적을 세가지 이상의 방법으로 구하시오.

In [15]:
# [Q7] Code-1
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
total = 0
for n in scores:
    total += n
ave = (total/len(scores))
print("평균 점수 : {0}점".format(ave))

평균 점수 : 80.25점

In [31]:
# [Q7] Code-2
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
def average(scores):
    return sum(scores)/len(scores)
print("평균 점수 : {0}".format(average(scores)))

평균 점수 : 80.25

In [35]:
# [Q7] Code-3
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
average = sum(scores)/len(scores)
print (average)

80.25

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch3_exercises_id.ipynb