<a href="https://colab.research.google.com/github/eoreordl/py03/blob/master/notebook/ch8_exercises_py03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch8_exercises_py03.ipynb

Q1. 문자열 바꾸기
> 다음과 같은 문자열이 있다.

```
a:b:c:d
```

> 문자열의 split와 join 함수를 사용하여 위 문자열을 다음과 같이 고치시오.

```
a#b#c#d
```

In [2]:
# [Q1] Code-1 
a = "a:b:c:d"
a.replace(":", "#")

'a#b#c#d'

In [1]:
# [Q1] Code-2 replace 함수 사용
a = 'a:b:c:d'
A= ':'
st_a = a.split(A)
change = '#'
st_a
change.join(st_a)

'a#b#c#d'

In [3]:
# [Q1] Code - 3
a = "a:b:c:d"
change = a.split(":")
A = '#'.join(change)
A

'a#b#c#d'

## Q2. 딕셔너리 값 추출하기
> 다음은 딕셔너리의 a에서 'C'라는 key에 해당하는 value를 출력하는 프로그램이다.
```
>>> a = {'A':90, 'B':80}
>>> a['C']
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 'C'
```
>> a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생한다.  
>>'C'에 해당하는 key 값이 없을 경우 오류 대신 70을 얻을 수 있도록 수정하시오.

In [ ]:
# [Q2] Code-1
a = {'A':90, 'B':80}
a['C'] = '70' 
a 
a['C']

70

In [4]:
# [Q2] Code - 2
a = {'A':90, 'B':80}
a.get('C', 70)  # 'C'에 해당하는 값이 없기 때문에 70 출력됨

70

## Q3. 리스트의 더하기와 extend 함수
> 다음과 같은 리스트 a가 있다.
```
a = [1, 2, 3]
```
> 리스트 a에 [4, 5]를 + 기호를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a = a + [4,5]
>>> a
[1, 2, 3, 4, 5]
```
> 리스트 a에 [4,5]를 extend를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a.extend([4, 5])
>>> a
[1, 2, 3, 4, 5]
```

> ### + 기호를 사용하여 더한 것과 extend한 것의 차이점이 있을까? 있다면 그 차이점을 설명하시오.

In [5]:
# [Q3] Explain (코드와 주석으로 설명하시오)
a = [1, 2, 3]
print(id(a)) # id 함수는 입력 받은 리스트 주소 값을 돌려줌
a = a + [4,5] # list a에 + 기호를 사용하여 list 값을 추가함
print(id(a)) # list a는 값이 변하는 것이 아닌 새로운 list가 반환되는 것

# 차이점 : '+'의 유무와 주소값의 가변 유무

b = [1, 2, 3]
print(id(b))
b.extend([4,5]) # extend 함수를 사용하여 [4,5]를 추가함
print(id(b)) # 변화가 없음

140342503692168
140342504687304
140342503692168
140342503692168

## Q4. 리스트 총합 구하기
> 다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상 점수의 총합을 구하시오.
```
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
```

In [8]:
# [Q4] Code-1
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
result = 0

while A:              # A 리스트에 값이 있는 동안
    grade = A.pop()   # A 리스트의 마지막 항목을 하나씩 뽑아냄
    if grade >= 50:   # 숫자가 50 이상 일 때 누적하여 더해줌
        result += grade
        
A
print(result)

481

In [6]:
# [Q4] Code - 2
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
num = -1
sum = 0
while num < 9:
	num += 1
	if A[num] < 50: continue
	sum = sum + A[num]
print(sum)

481

In [9]:
# [Q4] Code - 3
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

result = 0
while A:                
    i = A.pop()      
    if i >= 50:      
        result += i

print(result)

481

## Q5. 피보나치 함수
> 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후에 이어지는 항은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.
```
0, 1, 1, 2, 3, 5, 8, 13, 21, ...
```
> 입력을 정수 n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.

In [10]:
# [Q5] Code - 1
b=0
a = int(input("숫자를 입력하세요. : "))
def fibo(num):
    if num == 0: return 0             
    if num == 1: return 1             
    return fibo(num-2) + fibo(num-1)
for b in range(a):
    print(fibo(b), end = " ")

숫자를 입력하세요. : 10
0 1 1 2 3 5 8 13 21 34

In [11]:
# [Q5] Code - 2
def fibo(n):
    return fibo(n - 1) + fibo(n - 2) if n >= 2 else n 
for n in range(1, 10): # 값을 바꿔주면 여러가지 피보나치 수열을 출력할 수 있음
    print(n, fibo(n))

1 1
2 1
3 2
4 3
5 5
6 8
7 13
8 21
9 34

## Q6. 숫자의 총합 구하기
> 사용자로부터 다음과 같은 숫자를 입력받아 입력받은 숫자의 총합을 구하는 프로그램을 작성하시오. (단 숫자는 콤마로 구분하여 입력한다.)

```
65,45,2,3,45,8
```

In [14]:
# [Q6] Code - 1
number_input = input("숫자를 입력하세요 : ")
numbers = number_input.split(",")
def sum_number(numbers,total=0):
    for num in numbers:
      total += int(num)
    return total
print(sum_number(numbers))

숫자를 입력하세요 : 65,45,2,3,45,8
168

In [15]:
# [Q6] Code - 2
number_input = input("숫자를 입력하세요 : ")
numbers = number_input.split(",")
total = 0
for num in numbers:
    total += int(num)    # 문자열을 숫자로 변환
print(total)

숫자를 입력하세요 : 65,45,2,3,45,8
168

## Q7. 한 줄 구구단
> 사용자로부터 2~9의 숫자 중 하나를 입력받아 해당 숫자의 구구단을 한 줄로 출력하는 프로그램을 작성하시오.

> 실행 예)
```
구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18
```

In [16]:
# [Q7] Code - 1
a = int(input("2 ~ 9단 사이를 입력해주세요. : "))
def gugudan(a):
 if 1< a <10:                 
  for n in range(1,10):
      print(a*n ,end=' ')
 else: print("2 ~ 9단까지의 구구단만 가능합니다.")
gugudan(a)

2 ~ 9단 사이를 입력해주세요. : 2
2 4 6 8 10 12 14 16 18

In [17]:
# [Q7] Code - 2
gugudan_input = input("구구단을 출력할 숫자를 입력하세요 : ")

list = [ n*int(gugu) for n in range(1,10) for gugu in gugudan_input ]
print(list)

구구단을 출력할 숫자를 입력하세요 : 2
[2, 4, 6, 8, 10, 12, 14, 16, 18]

## Q8. 역순 저장
> 다음과 같은 내용의 파일 abc.txt가 있다.
```
AAA
BBB
CCC
DDD
EEE
```
> 이 파일의 내용을 다음과 같이 역순으로 바꾸어 저장하시오.
```
EEE
DDD
CCC
BBB
AAA
```

In [ ]:
# [Q8] Code - 1
f = open('abc.txt','r')    
eng = f.readlines()       
f.close()
for eng in reversed(open("abc.txt").readlines()):  
    print(eng.strip())

EEE
DDD
CCC
BBB
AAA

In [ ]:
# [Q8] Code - 2
f = open('abc.txt', 'r')
lines = f.readlines()  
f.close()
lines.reverse()      
f = open('abc.txt', 'w')
for line in lines:
    line = line.strip()  
    f.write(line)
    f.write('\n')
f.close()

In [ ]:
f = open("abc.txt",'r')
alleng = f.read()
print(alleng)
f.close()

EEE
DDD
CCC
BBB
AAA

## Q9. 평균값 구하기
> 다음과 같이 총 10줄로 이루어진 sample.txt 파일이 있다. sample.txt 파일의 숫자 값을 모두 읽어 총합과 평균 값을 구한 후 평균 값을 result.txt 파일에 쓰는 프로그램을 작성하시오.
```
70
60
55
75
95
90
80
80
85
100
```

In [ ]:
# [Q9] Code - 1
f = open("sample.txt",'r')
grade = f.readlines()
grade = list(map(int, grade))
average = 0

for i in grade:
    average += i/len(grade)

f = open("result.txt", "w")
f.write(str(average))          
f.close()

f = open("result.txt","r")
grade_average = f.read()
print(grade_average)
f.close()

79.0

In [18]:
# [Q9] Code - 2
f = open("sample.txt")
grade = f.readlines( )       
f.close( )
Sum = 0

for num in grade:
    score = int(num)       
    Sum += score
average = Sum / len(grade)
print(Sum)

f = open("result.txt", "w")
f.write(str(average))        
f.close()

f = open("result.txt","r")
grade_average = f.read()
print(grade_average)
f.close()

790
79.0

## Q10. 사칙연산 계산기
> 다음과 같이 동작하는 클래스 Calculator를 작성하시오.
```
>>> cal1 = Calculator([1,2,3,4,5])
>>> cal1.sum() # 합계
15
>>> cal1.avg() # 평균
3.0
>>> cal2 = Calculator([6,7,8,9,10])
>>> cal2.sum() # 합계
40
>>> cal2.avg() # 평균
8.0
```

In [22]:
# [Q10] Code - 1
class Calculator:
    def __init__ (self, number): 
        self.number = number
        
    def add(self):  
        result = 0
        for num in self.number: 
            result += num
        return result

    def avg(self):   
        total = self.add()
        return total / len(self.number)



cal1 = AvgCalculator([1,2,3,4,5]) 
print (cal1.add())
print (cal1.avg())

cal2 = AvgCalculator([6,7,8,9,10]) 
print (cal2.add())
print (cal2.avg())

15
3.0
40
8.0

In [21]:
# [Q10] Code - 2
class Calculator:
    def __init__ (self, number): 
        self.number = number
        
    def add(self):  
        result = 0
        for num in self.number: 
            result += num
        return result

class AvgCalculator(Calculator):
    def avg(self):   
        total = self.add()
        return total / len(self.number)



cal1 = AvgCalculator([1,2,3,4,5]) 
print (cal1.add())
print (cal1.avg())

cal2 = AvgCalculator([6,7,8,9,10]) 
print (cal2.add())
print (cal2.avg())

15
3.0
40
8.0



---

## Q11. 모듈 사용 방법
> ./doit 디렉터리에 mymod.py 파이썬 모듈이 있다고 가정해 보자. 명령 프롬프트 창에서 파이썬 셸을 열어 이 모듈을 import해서 사용할 수 있는 방법을 모두 기술하시오. (즉 다음과 같이 import mymod를 수행할 때 오류가 없어야 한다.)
```
>>> import mymod
>>>
```

In [ ]:
!mkdir doit
# 실행 후 새로 고침!
# mymod.py 를 업로드한다.

mkdir: cannot create directory ‘doit’: File exists

In [ ]:
!mv mymod.py ./doit
# 실행 후 새로 고침!

mv: cannot stat 'mymod.py': No such file or directory

In [ ]:
# [Q11] Code-1
from doit import mymod

In [ ]:
# [Q11] Code-2
import sys
sys.path.append("C:/doit")
import mymod

In [ ]:
# [Q11] Code-3
import os
os.chdir("doit") # 현재 디렉터리를 doit으로 변경

In [ ]:
os.getcwd()
import mymod

## Q12. 오류와 예외 처리
> 다음 코드의 실행 결과를 예측하고 그 이유에 대해 설명하시오.

```
result = 0

try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4

print(result)
```

In [ ]:
# [Q12] Explain (코드와 주석으로 설명하시오)
result = 0                  #  result를 0으로 초기화
 
try:
    [1, 2, 3][3]            #  IndexError가 발생
    "a"+1                   
    4 / 0                  
except TypeError:           #  except IndexError:구문의 result += 3 계산을 진행
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:                    #  finally:에서 result += 4를 실행
    result += 4
 
print(result)               #  7으로 계산

7

## Q13. DashInsert 함수
> DashInsert 함수는 숫자로 구성된 문자열을 입력받은 뒤 문자열 안에서 홀수가 연속되면 두 수 사이에 - 를 추가하고, 짝수가 연속되면 * 를 추가하는 기능을 갖고 있다. DashInsert 함수를 완성하시오.
```
입력 예시: 4546793
출력 예시: 454*67-9-3
```

In [39]:
# [Q13] Code
number_list = input("숫자를 입력해주세요: ")

result = number_list[0]
for a,b in zip(number_list[0:], number_list[1:]): 
    if int(a)%2 == 0 and int(b)%2 == 0:    # 연속 짝수
        result += '*' + b
    elif int(a)%2 == 1 and int(b)%2 == 1:  # 연속 홀수
        result += '-' + b
    else:
        result += b                        #홀수짝수, 짝수홀수
print(result)

숫자를 입력해주세요: 4546793
454*67-9-3

## Q14. 문자열 압축하기
> 문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하시오.
```
입력 예시: aaabbcccccca
출력 예시: a3b2c6a1
```

In [ ]:
# [Q14] Code - 1
eng = input("문자열을 입력하세요.:")
def loop_string(s):
    _c = ""
    cnt = 0
    result = ""
    for c in s:
        if c!=_c:                        # 처음 들어온 문자
            _c = c
            if cnt: result += str(cnt)   
            result += c                   
            cnt = 1                      # 카운트를 1로 초기화
        else: cnt +=1                   
    if cnt: result += str(cnt)           
    return result
loop_string(eng)

문자열을 입력하세요.:aaabbcccccca

'a3b2c6a1'

In [ ]:
# [Q14] Code - 2
eng = input("문자열을 입력하세요.:")
def zip(sentence):
    count = 0   
    check = ""   
    result = "" 
    for i in sentence:
        if check != i:
            check = i
            if count:
                result += str(count)
            result += i
            count = 1
        else:
            count += 1
    if count:
        result += str(count)
    return result
zip(eng)

문자열을 입력하세요.:aaabbcccccca

'a3b2c6a1'

In [37]:
# [Q14] Code - 3
sentence = "aaabbcccccca" 
result = sentence[0]      
count = 0                 

for i in sentence:
    if i == result[-1]:           
        count += 1
    else:
        result += str(count) + i  
        count = 1
result += str(count)              

print(result)

a3b2c6a1

## Q15. Duplicate Numbers
> 0 ~ 9의 문자로 된 숫자를 입력받았을 때, 이 입력값이 0 ~ 9의 모든 숫자를 각각 한 번씩만 사용한 것인지 확인하는 함수를 작성하시오.
```
입력 예시: 0123456789 01234 01234567890 6789012345 012322456789
출력 예시: true false false true false
```

In [ ]:
# [Q15] Code - 1
def checkNumber(s):
    result = []                  
    for num in s:
        if num not in result:    
            result.append(num)   
        else:
            return False         
    return len(result) == 10     
print(checkNumber("0123456789"))      
print(checkNumber("01234"))           
print(checkNumber("01234567890"))     
print(checkNumber("6789012345"))      
print(checkNumber("012322456789"))

True
False
False
True
False

In [ ]:
# [Q15] Code - 2
b = 0
def checkNumber(s):
    result = []                   
    for num in s:
        if num not in result:     
            result.append(num)    
        else:
            return False          
    return len(result) == 10      
numbers = input("숫자를 입력하세요.:")
checkNumber(numbers)

숫자를 입력하세요.:0123456789

True

## Q16. 모스 부호 해독
> 문자열 형식으로 입력받은 모스 부호(dot:. dash:-)를 해독하여 영어 문장으로 출력하는 프로그램을 작성하시오.

- 글자와 글자 사이는 공백 1개, 단어와 단어 사이는 공백 2개로 구분한다.
- 예를 들어 다음 모스 부호는 "HE SLEEPS EARLY"로 해석해야 한다.
```
.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--
```
> 모스부호 규칙 표
```
문자 부호	문자   부호
A	 .-	    N	    -.
B	 -...	O	    ---
C	 -.-.	P	    .--.
D	 -..	Q	    --.-
E	 .	    R	    .-.
F	 ..-.	S	    ...
G	 --.	T	    -
H	 ....	U	    ..-
I	 ..	    V	    ...-
J	 .---	W	    .--
K	 -.-	X	    -..-
L	 .-..	Y	    -.--
M	 --	    Z	    --..
```

In [ ]:
# [Q16] Code - 1
dic = {
    '.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F',
    '--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L',
    '--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R',
    '...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X',
    '-.--':'Y','--..':'Z'
}

def mose(src):
    result = []
    for word in src.split("  "):   
        for char in word.split(" "): 
            result.append(dic[char])  
        result.append(" ")            
    return "".join(result)


mose('.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--')

'HE SLEEPS EARLY '

In [ ]:
# [Q16] Code - 2
dic = {
    '.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F',
    '--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L',
    '--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R',
    '...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X',
    '-.--':'Y','--..':'Z'
}
mose = '.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'
code = mose.split(' ')

for n in code:
    if n =='':
        print(' ', end="")
    else:
        print(dic[n], end="")

HE SLEEPS EARLY



---

# 다음 정규식 문제는 기말고사 후에 도전해 보세요.

## Regular Expression
- import re

## Q17. 기초 메타 문자
> 다음 중 정규식 a[.]{3,}b과 매치되는 문자열은 무엇일까?


```
acccb
a....b
aaab
a.cccb
```

In [33]:
# [Q17] Code
import re
p = re.compile("a[.]{3,}b")
print (p.match("acccb"))    
print (p.match("a....b"))   
print (p.match("aaab"))    
print (p.match("a.cccb"))

None
<_sre.SRE_Match object; span=(0, 6), match='a....b'>
None
None

## Q18. 문자열 검색
> 다음 코드의 결괏값은 무엇일까?

```
>>> import re
>>> p = re.compile("[a-z]+")
>>> m = p.search("5 python")
>>> m.start() + m.end()
```

In [34]:
# [Q18] Code
import re
p = re.compile('[a-z]+')
m = p.search("5 python")
print(m.start() + m.end())

10

## Q19. 그루핑
> 다음과 같은 문자열에서 휴대폰 번호 뒷자리인 숫자 4개를 ####로 바꾸는 프로그램을 정규식을 사용하여 작성하시오.

```
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
```

In [35]:
# [Q19] Code
pat = re.compile("\d{3}[-]\d{4}[-]\d{4}")
pat = re.compile("(\d{3}[-]\d{4})[-]\d{4}")
import re

s = """
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
"""

pat = re.compile("(\d{3}[-]\d{4})[-]\d{4}")
result = pat.sub("\g<1>-####", s)
print(result)

park 010-9999-####
kim 010-9909-####
lee 010-8789-####

## Q20. 전방 탐색
> 다음은 이메일 주소를 나타내는 정규식이다. 이 정규식은 park@naver.com, kim@daum.net, lee@myhome.co.kr 등과 매치된다. 긍정형 전방 탐색 기법을 사용하여 .com, .net이 아닌 이메일 주소는 제외시키는 정규식을 작성하시오.

```
.*[@].*[.].*$
```

In [36]:
# [Q20] Code
pat = re.compile(".*[@].*[.](?=com$|net$).*$")
import re
pat = re.compile(".*[@].*[.](?=com$|net$).*$")
print(pat.match("pahkey@gmail.com"))
print(pat.match("kim@daum.net"))
print(pat.match("lee@myhome.co.kr"))

<_sre.SRE_Match object; span=(0, 16), match='pahkey@gmail.com'>
<_sre.SRE_Match object; span=(0, 12), match='kim@daum.net'>
None

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch8_exercises_id.ipynb