<a href="https://colab.research.google.com/github/eoreordl/py03/blob/master/notebook/mid_exam_py03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## mid_exam_py03.ipynb

## 1. 다음 식의 연산 결과는?
- a = 5
- b = 3
- a**b

In [0]:
# ** 는 지수연산자 이기 때문에 5의 3제곱을 계산하는 것이다.
a = 5
b = 3
print(a**b)

125

## 2. 다음 문자열 a에 대하여 슬라이싱을 한 결과는?
* a = "Life is too short, You need Python!"
* a[-16:-8]

In [0]:
# 슬라이싱에 -부호가 달리게 되면 반대로 세어야 하는데 이때 0부터가 아닌 -1을 기준으로 시작해야 한다.
# 띄어쓰기도 포함해서 세야한다.
a = "Life is too short, You need Python!"
a[-16:-8]

'You need'

## 3. 다음 list a의 인덱싱 결과는?
* a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]
* a[3][-1][0]

In [0]:
# 인덱싱을 하게 되면 순차적으로 대괄호를 파고 들어가는데
# [3] -> ['a', 'b', ['My', 'Life', 'Good']]
# [-1] -> ['My', 'Life', 'Good']
# [0] -> 'My'
# 따라서 인덱싱의 결과는 'My' 이다.
a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]
a[3][-1][0]

'My'

## 4. 다음 tuple t1의 슬라이싱 결과는?
* t1 = (0, 1, "s", "t", "u")
* t1[2:-2]

In [0]:
# 튜플에서 요소가 하나일 경우에는 뒤에 ','를 붙인다. 
t1 = (0, 1, "s", "t", "u")
t1[2:-2]

('s',)

## 5. 다음 bool 값 출력 중 정확한 것은?
* bool([0, 1, 2]), bool([0]), bool((0)), bool((0,))

In [0]:
# 튜플의 데이터 구조는 요소가 하나일 경우 뒤에 ','를 반드시 붙여야한다.
# 정답 :(True, True, False, True)
# 알맞게 바꾸면 bool([0, 1, 2]), bool([0]), bool((0,)), bool((0,))가 되어야 한다.

## 6. 다음 조건문을 1줄 코드로 변경하시오.

In [0]:
score = 80
if score >= 60:
  message = "success"
else:
  message = "failure"
# 위의 식을 1줄 코드로 변경하면

success

In [0]:
# if - else문을 1줄 코드로 만들게 되면 if 는 뒤로 이동하게 된다.
message = "success" if score >= 60 else "failure"
print(message)

success

## 7. 다음 코드의 실행 결과는?

In [0]:
# print문은 항목들의 구분을 스페이스바를 한번 누른만큼 띄운 후에 줄을 바꾸게 되는데 
#내부에 end라는 문자열이 존재하면 스페이스바의 공간에 e의 값을 넣고 연이어 다음 결과물을 출력하게 된다.

games = ["A", "B", "C"]

for cnt in range(len(games)):
  print(cnt, games[cnt], end=',')

0 A,1 B,2 C,

## 8. 다음의 결과가 출력되지 않는 것은?
* 'I ate 10 apples. so I was sick for three days.'

In [0]:
number = 10
day = "three"

a = f"I ate {number} apples. so I was sick for {'three'} days."
b = f"I ate {number} apples. so I was sick for {day} days."
c = "I ate {0} apples. so I was sick for {1} days.".format(10, day)
d = "I ate {0} apples. so I was sick for {1} days.".format(number = 10, day)

# a, b, c 모두 출력되지만 d는 오류가 생긴다
# 이유 : {name}를 사용할 경우 format 함수에는 반드시 같은 형태의 입력값이 있어야 하기 때문이다.

## 9. 리스트 내포를 사용해 1부터 1000이하의 자연수 중 5의 배수의 합을 구하는 한 줄 코드를 작성하시오.

In [0]:
sum([num for num in range(1,1001) if num % 5 == 0])

# range(1,1001) : 1000까지 출력함(1001 출력x)
# num % 5 == 0 : 5의 배수를 구하는 코드

100500

## 10. 4개 과목의 평균 성적을 구하시오. [a], [b]에 적합한 코드는?

In [0]:
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
total = 0

for subject, score in [a].______(subjects,scores):
  total += score
  print(subject,score)

print("평균 점수 = {0}".format([b].______))

In [0]:
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
total = 0

for subject, score in zip(subjects,scores): # zip : 동일한 개수로 이루어진 자료형을 묶어 주는 역할
  total += score
  print(subject, score)

print("평균 점수 = {0}".format(total/len(subjects))) 

# [a] : zip
# [b] : total/len(subjects)

python 88
english 77
math 66
science 95
평균 점수 = 81.5